
.controls {
	float: left;
	width: 100px;
	background-color: #ccc;
	margin: 10px;
}

canvas {
	border: 1px solid #f00;
	float: left;
	margin: 10px;
}

.inputs {
	float: left;
	clear: left;
	margin: 10px;
}

#memory {
	float: left;
	clear: left;
	margin: 10px;
}

.footer {
	margin: 10px;
	float: left;
	clear: left;
}


pre {
	background-color: #000
}

.head {
	color: #ff0000;
}

.font_set {
	color: #005500;
}

.pixel_font_set {
	color: #0000ff;
}

.program {
	color: #550000;
}

.memory {
	color: #005555;
}

.pc {
	color: #ffffff;
}
